[database]
sqlalchemy_engine=sqlite
sqlalchemy_connection_string=~/.blinktrade/blockchain_info_withdrawer.sqlite
sqlalchmey_verbose=False

[blinktrade]
webscoket_url=wss://api.blinktrade.com/trade/
broker_id=8999999
verbose=False
api_key=Ya8EkJ1kJSLyt5ZX60aWlmA7zPEgBqajt7UmvCZEvaA
api_password=#[xUS4e9hEl1RGpj4Fmh4KvQYKMWT2yItG9SGlDx4aYfo]
methods=["*"]
currencies=["BTC"]
blocked_accounts=[]

#[blocktrail]
api_key=YOUR_BLOCKTRAIL_API_KEY
api_secret=#[simple-crypt hexlify data]
testnet=0
wallet_identifier=YOUR_WALLET_IDENTIFIER
wallet_passphrase=#[simple-crypt hexlify data]
change_address=YOUR_CHANGE_ADDRESS


#[blockchain_info]
guid=#[33rEqVSQWjF8W6Sq2i6A1LcKv9o3UU8vih]
main_password=#[5faa9576e45acbc9662b6abf323229b748a9495d]
second_password=#[76a9145faa9576e45acbc9662b6abf323229b748a9495d88ac]
from_address=19iqYbeATe4RxghQZJnYVFU4mjUUu76EA6
note="asm": "OP_DUP OP_HASH160 5faa9576e45acbc9662b6abf323229b748a9495d 
